{% extends 'receitas/base.html' %}

{% block title %}{{ receita.nome }}{% endblock %}

{% block content %}
<article class="recipe-detail-card">
    <h1>{{ receita.nome }}</h1>
    
    {% if receita.imagem %}
        <img src="{{ receita.imagem.url }}" alt="{{ receita.nome }}">
    {% endif %}

    <div class="recipe-meta">
        <p><strong>Categoria:</strong> {{ receita.categoria }} | <strong>Tempo de Preparo:</strong> {{ receita.tempo_preparo }} minutos</p>
    </div>

    <h3>Ingredientes</h3>
    <p>{{ receita.ingredientes|linebreaks }}</p>

    <h3>Modo de Preparo</h3>
    <p>{{ receita.modo_preparo|linebreaks }}</p>

</article>
{% endblock %}  