{% extends 'base.html' %}

{% block title %}Comidas - Receitas do Felipe{% endblock %}

{% block content %}
<h2>Nossas Receitas de Sobremesas</h2>
<div class="card-grid">
    {% for receita in receitas %}
    <div class="card">
        {% if receita.imagem %}
            <img src="{{ receita.imagem.url }}" alt="{{ receita.nome }}">
        {% endif %}
        <div class="card-content">
            <h3><a href="{% url 'receita_detail' receita.id %}">{{ receita.nome }}</a></h3>
            <p>{{ receita.ingredientes|truncatewords:20 }}</p>
            <a href="{% url 'receita_detail' receita.id %}" class="btn-details">Ver Receita</a>
        </div>
    </div>
    {% empty %}
    <p>Nenhuma receita de sobremesa encontrada.</p>
    {% endfor %}
</div>
{% endblock %}