{% extends 'base.html' %}

{% block title %}Sobre Nós - Receitas do Felipe{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Sobre o Receitas do Felipe</h2>
    <p>
        Bem-vindo ao nosso cantinho gastronômico! O "Receitas do Felipe" nasceu da paixão por cozinhar e compartilhar momentos especiais ao redor da mesa.
    </p>
    <p>
        Aqui, acreditamos que cozinhar é um ato de amor e criatividade. Nossa missão é trazer receitas deliciosas e acessíveis para todos, desde o cozinheiro iniciante até o chef mais experiente. Explore nossas categorias, descubra novos sabores e divirta-se na cozinha!
    </p>
</div>
{% endblock %}  